# Insights.
    Παρατηρούμε πως το παγκόσμιο ποσοστό θνησιμότητας είναι 5,24% (43 εκατομμύρια θάνατοι σε
    συνολικό αριθμό 828,5 εκκατομυρίων επιβεβαιωμένων κρουσμάτων)

In [1]:
from covid_analyzer import CovidDataAnalyzer

#### 1. Δημιουργούμε ένα αντικείμενο της κλάσης μας.

In [2]:
# Initialize the class with covid_data.csv.
analyzer = CovidDataAnalyzer()
analyzer.load_data('datasets/covid_19_data.csv')

Data loaded successfully: 49068 rows, 10 columns

True

#### 2. Φορτώνουμε τα δεδομένα.

In [3]:
# Load and describe the dataset.
analyzer.describe_data()

==================================================
                 DATASET OVERVIEW
==================================================
### 1. Dataset Shape
Shape: 49068 rows, 10 columns

### 2. Column Information and Null Counts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Columns: 10 entries, Province/State to WHO Region
dtypes: float64(2), int64(4), object(4)
### 3. Basic Descriptive Statistics (Numerical)
             count          mean            std       min        25%  \
Lat        49068.0     21.433730      24.950320  -51.7963   7.873054
Long       49068.0     23.528236      70.442740 -135.0000 -15.310100
Confirmed  49068.0  16884.904255  127300.205272    0.0000   4.000000
Deaths     49068.0    884.179160    6313.584411    0.0000   0.000000
Recovered  49068.0   7915.713479   54800.918731    0.0000   0.000000
Active     49068.0   8085.011617   76258.903026  -14.0000   0.000000

                50%          75%           max
Lat         23.6345    41.204380  7.170690e+01
Long        21.7453    80.771797  1.780650e+02
Confirmed  168.0000  1518.250000  4.290259e+06
Deaths       2.0000    30.000000  1.480110e+05
Recovered   29.0000   666.000000  1.846641e+06
Active      26.0000   606.000000  2.816444e+06

### 4. Basic Descriptive Statistics (Categorical/Object)
                count unique                           top   freq
Province/State  14664     78  Australian Capital Territory    188
Country/Region  49068    187                         China   6204
Date            49068    188                    2020-01-22    261
WHO Region      49068      6                        Europe  15040

--- Missing Values Per Column ---
Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64
==================================================

#### 3. Διαχειριζόμαστε τις τιμές που λείπουν.

In [4]:
# Handle missing values.
analyzer.handle_missing_values()

==================================================
         HANDLING MISSING VALUES
==================================================
Filled missing values in 6 numeric column(s) with **0**.
Filled missing values in 4 categorical column(s) with **'Unknown'**.
Missing value handling complete. Check `.info()` to verify.

#### 4. Εφαρμόζουμε το φίλτρο και αποθηκεύουμε τα δεδομένα στη μεταβλητή filtered_data.

In [5]:
# Apply the filter_high_cases method and save the filtered data.
analyzer.filter_high_cases()

==================================================
          APPLYING HIGH-CASE FILTER
==================================================
Original size:  49068 rows
Filtered size:  1172 rows
Filtered data saved to self.filtered_data.

,Province/State,Country,Lat,Long,Date,Confirmed_Cases,Deaths,Recovered,Active,WHO Region
17883,Unknown,Italy,41.871940,12.56738,2020-03-30,101739,11591,14620,75528,Europe
18144,Unknown,Italy,41.871940,12.56738,2020-03-31,105792,12428,15729,77635,Europe
18232,Unknown,US,40.000000,-100.00000,2020-03-31,188724,5605,7024,176095,Americas
18405,Unknown,Italy,41.871940,12.56738,2020-04-01,110574,13155,16847,80572,Europe
18469,Unknown,Spain,40.463667,-3.74922,2020-04-01,104118,9387,22647,72084,Europe
...,...,...,...,...,...,...,...,...,...,...
49005,Unknown,South Africa,-30.559500,22.93750,2020-07-27,452529,7067,274925,170537,Africa
49006,Unknown,Spain,40.463667,-3.74922,2020-07-27,272421,28432,150376,93613,Europe
49018,Unknown,Turkey,38.963700,35.24330,2020-07-27,227019,5630,210469,10920,Europe
49028,Unknown,United Kingdom,55.378100,-3.43600,2020-07-27,300111,45759,0,254352,Europe
49030,Unknown,US,40.000000,-100.00000,2020-07-27,4290259,148011,1325804,2816444,Americas

#### 5. Εφαρμόζουμε το φίλτρο για συγκεκριμένο εύρος ημερομηνιών.

In [6]:
# Apply the filter_by_date_range method for a specific range (e.g., March 2020 to June 2020) and save the filtered data.
analyzer.filter_by_date_range('2020-03-01', '2020-06-30', use_filtered=True)
analyzer.save_filtered_data("datasets/March2020-June2020.csv")

==================================================
          APPLYING DATE RANGE FILTER
==================================================
Filter complete.
Result rows: 749

==================================================
          SAVING FILTERED DATA
==================================================
✅ Successfully saved **749 rows** to **datasets/March2020-June2020.csv**.

#### 6. Υπολογίζουμε τα παγκόσμια στατιστικά.

In [7]:
# Calculate and display global statistics.
analyzer.calculate_global_statistics()

==================================================
          GLOBAL CASE STATISTICS
==================================================
Global Total Confirmed Cases: 828,508,482
Global Total Deaths:          43,384,903
Global Total Recovered Cases: 388,408,229
✅ Global statistics calculated and printed.

#### 7. Παράγουμε αυτοματοποιημένες πληροφορίες.

In [8]:
#  Provide insights
analyzer.generate_insights()

=======================================================
                 AUTOMATED DATA INSIGHTS
=======================================================
There are 187 countries in the dataset.
The country with the highest confirmed cases is US with 4,290,259 cases.
The country with the lowest confirmed cases is Afghanistan with 0 cases.
On average, countries reported about 16,885 confirmed cases.
The overall global death rate is approximately 5.24% (43,384,903 deaths out of 828,508,482 confirmed cases).
No missing values detected in the dataset.
=======================================================

#### 8. Αποθηκεύουμε.

In [9]:
# Save the filtered data
analyzer.save_filtered_data("datasets/high_impact_covid_data.csv")

==================================================
          SAVING FILTERED DATA
==================================================
✅ Successfully saved **749 rows** to **datasets/high_impact_covid_data.csv**.